iGST/Service References/iGst_Svc/GSTService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50495/GSTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:element name="GetList_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_RoleResult" nillable="true" type="q1:ArrayOfRoleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_RoleResult" nillable="true" type="q2:RoleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="obj" nillable="true" type="q3:RoleInfo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q4:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_RoleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Effective_Role_ForAUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Effective_Role_ForAUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Get_Effective_Role_ForAUserResult" nillable="true" type="q5:RoleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_TaxMasterResult" nillable="true" type="q6:ArrayOfTaxMasterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_TaxMasterResult" nillable="true" type="q7:TaxMasterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objBankInfo" nillable="true" type="q8:TaxMasterInfo" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q9:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_TaxMasterResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxCountryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxCountryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_TaxCountryMapResult" nillable="true" type="q10:ArrayOfTaxCountryMapInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxCountryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxCountryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_TaxCountryMapResult" nillable="true" type="q11:TaxCountryMapInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxCountryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objBankInfo" nillable="true" type="q12:TaxCountryMapInfo" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q13:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxCountryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_TaxCountryMapResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxCountryCategoryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxCountryCategoryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_TaxCountryCategoryMapResult" nillable="true" type="q14:ArrayOfTaxCountryCategoryMapInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxCountryCategoryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxCountryCategoryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_TaxCountryCategoryMapResult" nillable="true" type="q15:TaxCountryCategoryMapInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxCountryCategoryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objBankInfo" nillable="true" type="q16:TaxCountryCategoryMapInfo" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q17:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxCountryCategoryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_TaxCountryCategoryMapResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxExpenseCountryCategoryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_TaxExpenseCountryCategoryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_TaxExpenseCountryCategoryMapResult" nillable="true" type="q18:ArrayOfTaxCountryCategoryMapInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxExpenseCountryCategoryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:int" />
        <xs:element minOccurs="0" name="TaxDefinationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_TaxExpenseCountryCategoryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_TaxExpenseCountryCategoryMapResult" nillable="true" type="q19:TaxCountryCategoryMapInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxExpenseCountryCategoryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objBankInfo" nillable="true" type="q20:TaxCountryCategoryMapInfo" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q21:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_TaxExpenseCountryCategoryMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_TaxExpenseCountryCategoryMapResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Gst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipStateId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_GstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Get_GstResult" nillable="true" type="q22:GSTInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_GstCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategorytId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipStateId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_GstCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="Get_GstCategoryResult" nillable="true" type="q23:GSTInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>