iGST/Service References/Role_Svc/RoleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50495/sRoleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50495/sRoleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50495/sRoleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoleService_GetList_Role_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList_Role" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetList_Role_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetList_RoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetDetails_Role_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails_Role" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetDetails_Role_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails_RoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Save_Role_InputMessage">
    <wsdl:part name="parameters" element="tns:Save_Role" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Save_Role_OutputMessage">
    <wsdl:part name="parameters" element="tns:Save_RoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Get_Effective_Role_ForAUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Effective_Role_ForAUser" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Get_Effective_Role_ForAUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Effective_Role_ForAUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoleService">
    <wsdl:operation name="GetList_Role">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetList_Role" message="tns:IRoleService_GetList_Role_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetList_RoleResponse" message="tns:IRoleService_GetList_Role_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails_Role">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetDetails_Role" message="tns:IRoleService_GetDetails_Role_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetDetails_RoleResponse" message="tns:IRoleService_GetDetails_Role_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save_Role">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/Save_Role" message="tns:IRoleService_Save_Role_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/Save_RoleResponse" message="tns:IRoleService_Save_Role_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Effective_Role_ForAUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/Get_Effective_Role_ForAUser" message="tns:IRoleService_Get_Effective_Role_ForAUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/Get_Effective_Role_ForAUserResponse" message="tns:IRoleService_Get_Effective_Role_ForAUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iGST_Svc.RoleService_Binding_IRoleService" type="tns:IRoleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList_Role">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetList_Role" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails_Role">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetDetails_Role" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_Role">
      <soap:operation soapAction="http://tempuri.org/IRoleService/Save_Role" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Effective_Role_ForAUser">
      <soap:operation soapAction="http://tempuri.org/IRoleService/Get_Effective_Role_ForAUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="iGST_Svc.RoleService_Binding_IRoleService" binding="tns:iGST_Svc.RoleService_Binding_IRoleService">
      <soap:address location="http://localhost:50495/sRoleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>