iGST/Service References/Expense_Svc/sExpenseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductOrganiztionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductOrganiztionInfo" nillable="true" type="tns:ProductOrganiztionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductOrganiztionInfo" nillable="true" type="tns:ArrayOfProductOrganiztionInfo" />
  <xs:complexType name="ProductOrganiztionInfo">
    <xs:sequence>
      <xs:element name="SelfList" nillable="true" type="tns:ArrayOfProductOrganiztionInfo" />
      <xs:element name="_x003C_AbatementPercentage_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_AvailableQty_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_CategoryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CategoryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Class_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CountryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FileData_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
      <xs:element name="_x003C_FileName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FileType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HSNSACCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ImageId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IncomeAccount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationproductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PreferredSupplierId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PurchaseTax_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ReverseCharge_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_SKU_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SalePrice_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_SaleTax_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_ServiceOrGoods_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ServiceType_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SupplierId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalAvailable_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalSold_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Unit_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_isExpense_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isInclusiveTax_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductOrganiztionInfo" nillable="true" type="tns:ProductOrganiztionInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element name="_x003C_AccessAllowed_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ApplicableCurrencies_x003E_k__BackingField" nillable="true" type="tns:ArrayOfCurrencyOrganiztionInfo" />
      <xs:element name="_x003C_BillingRatePerHour_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DOB_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DisplayName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EffectiveRole_x003E_k__BackingField" nillable="true" type="tns:RoleInfo" />
      <xs:element name="_x003C_EmailID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmployeeID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_First_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Functions_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HireDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsApproved_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsEmailActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMainUser_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMobileActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Last_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ManagerID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ManagerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Middle_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MobileNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Notes_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReleaseDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Safix_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Sex_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SsseionID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserBranchRoleList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
      <xs:element name="_x003C_UserCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserRegisteredEmail_x003E_k__BackingField" nillable="true" type="tns:UserEmailInfo" />
      <xs:element name="_x003C_UserRegisteredMobile_x003E_k__BackingField" nillable="true" type="tns:UserMobileInfo" />
      <xs:element name="_x003C_UserRoleList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
      <xs:element name="_x003C_UserTypeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isBillableBydefault_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfCurrencyOrganiztionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyOrganiztionInfo" nillable="true" type="tns:CurrencyOrganiztionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyOrganiztionInfo" nillable="true" type="tns:ArrayOfCurrencyOrganiztionInfo" />
  <xs:complexType name="CurrencyOrganiztionInfo">
    <xs:sequence>
      <xs:element name="SelfList" nillable="true" type="tns:ArrayOfCurrencyOrganiztionInfo" />
      <xs:element name="_x003C_CurrencyId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CurrencyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationproductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Symbol_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyOrganiztionInfo" nillable="true" type="tns:CurrencyOrganiztionInfo" />
  <xs:complexType name="RoleInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Bill_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DefineLanguage_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsOnlyForModerateUsers_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Organization_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RoleID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Role_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_isForMembershipView_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleInfo" nillable="true" type="tns:RoleInfo" />
  <xs:complexType name="ArrayOfUserBranchRoleMappingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBranchRoleMappingInfo" nillable="true" type="tns:UserBranchRoleMappingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBranchRoleMappingInfo" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
  <xs:complexType name="UserBranchRoleMappingInfo">
    <xs:sequence>
      <xs:element name="_x003C_BranchID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DataUniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FunctionID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FunctionName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBranchRoleMappingInfo" nillable="true" type="tns:UserBranchRoleMappingInfo" />
  <xs:complexType name="UserEmailInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmailConfirmationSentOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmailID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmailVerifiedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsEmailConfirmationSend_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsEmailVerified_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEmailInfo" nillable="true" type="tns:UserEmailInfo" />
  <xs:complexType name="UserMobileInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMobileConfirmationSent_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMobileVerified_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_MobileConfirmationSentOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MobileVerifiedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Mobile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMobileInfo" nillable="true" type="tns:UserMobileInfo" />
  <xs:complexType name="ArrayOfInvoiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceInfo" nillable="true" type="tns:InvoiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceInfo" nillable="true" type="tns:ArrayOfInvoiceInfo" />
  <xs:complexType name="InvoiceInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AmountAfterDiscount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AmountDue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AmountExcludeTax_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AmountIncludeTax_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AmountPayable_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchCountry_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchState_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ChangedCurrency_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ConversionRate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CusAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CusCity_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CusCountry_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CusEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CusID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CusState_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ExpenseBreakupList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfExpenseBreakupInfo" />
      <xs:element name="_x003C_InvoiceDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InvoiceDueDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InvoiceID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InvoiceNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InvoicePaymentList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfInvoicePaymentInfo" />
      <xs:element name="_x003C_InvoiceProductList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfInvoiceProductInfo" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsCancelled_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsReturned_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PrevConversionRate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Prices_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductIDs_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Quantities_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReturnedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ShipAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ShipCity_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ShipCountry_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ShipState_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SumAmount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupCity_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupCountry_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupState_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupplierName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TaxOnProduct_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Taxes_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalAmount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TravellingExpenses_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceInfo" nillable="true" type="tns:InvoiceInfo" />
  <xs:complexType name="ArrayOfExpenseBreakupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseBreakupInfo" nillable="true" type="tns:ExpenseBreakupInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseBreakupInfo" nillable="true" type="tns:ArrayOfExpenseBreakupInfo" />
  <xs:complexType name="ExpenseBreakupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BreakupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Todate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseBreakupInfo" nillable="true" type="tns:ExpenseBreakupInfo" />
  <xs:complexType name="ArrayOfInvoicePaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoicePaymentInfo" nillable="true" type="tns:InvoicePaymentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoicePaymentInfo" nillable="true" type="tns:ArrayOfInvoicePaymentInfo" />
  <xs:complexType name="InvoicePaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataUniqueID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaidAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaidOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoicePaymentInfo" nillable="true" type="tns:InvoicePaymentInfo" />
  <xs:complexType name="ArrayOfInvoiceProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceProductInfo" nillable="true" type="tns:InvoiceProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceProductInfo" nillable="true" type="tns:ArrayOfInvoiceProductInfo" />
  <xs:complexType name="InvoiceProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataUniqueID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricePerUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SACHCNCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceGood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxOnProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmountIncludeTax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isBreakupNeed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceProductInfo" nillable="true" type="tns:InvoiceProductInfo" />
  <xs:complexType name="ArrayOfSupplierInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierInfo" nillable="true" type="tns:SupplierInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierInfo" nillable="true" type="tns:ArrayOfSupplierInfo" />
  <xs:complexType name="SupplierInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AsOfDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BillingAddress_x003E_k__BackingField" nillable="true" type="tns:ArrayOfSupplierBillingAddressInfo" />
      <xs:element name="_x003C_BillingWith_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_AddressID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Billing_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfBranchInfo" />
      <xs:element name="_x003C_CSTRegNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Company_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DOB_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmailID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_First_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GSTIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GSTRegistrationTypeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GSTRegistrationType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsSubSupplier_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Last_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ListStaticValuesAll_x003E_k__BackingField" nillable="true" type="tns:ArrayOfStaticValuInfo" />
      <xs:element name="_x003C_ListTermsAll_x003E_k__BackingField" nillable="true" type="tns:ArrayOfTermsInfo" />
      <xs:element name="_x003C_Middle_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Mobile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Notes_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OpeningBalance_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PANNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ParentSupID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ParentSupName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PrefferedDeliveryMethodName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PrefferedDeliveryMethod_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PrefferedPaymentMethodName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PrefferedPaymentMethod_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Safix_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Sex_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ShippingAddress_x003E_k__BackingField" nillable="true" type="tns:ArrayOfSupplierShippingAddressInfo" />
      <xs:element name="_x003C_Shipping_AddressID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Shipping_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TaxRegNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TermsName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Terms_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Website_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierInfo" nillable="true" type="tns:SupplierInfo" />
  <xs:complexType name="ArrayOfSupplierBillingAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierBillingAddressInfo" nillable="true" type="tns:SupplierBillingAddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierBillingAddressInfo" nillable="true" type="tns:ArrayOfSupplierBillingAddressInfo" />
  <xs:complexType name="SupplierBillingAddressInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AddressID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierBillingAddressInfo" nillable="true" type="tns:SupplierBillingAddressInfo" />
  <xs:complexType name="ArrayOfBranchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchInfo" nillable="true" type="tns:BranchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchInfo" nillable="true" type="tns:ArrayOfBranchInfo" />
  <xs:complexType name="BranchInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMainBranch_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserRoleList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchInfo" nillable="true" type="tns:BranchInfo" />
  <xs:complexType name="ArrayOfStaticValuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StaticValuInfo" nillable="true" type="tns:StaticValuInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaticValuInfo" nillable="true" type="tns:ArrayOfStaticValuInfo" />
  <xs:complexType name="StaticValuInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Key_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaticValuInfo" nillable="true" type="tns:StaticValuInfo" />
  <xs:complexType name="ArrayOfTermsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TermsInfo" nillable="true" type="tns:TermsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTermsInfo" nillable="true" type="tns:ArrayOfTermsInfo" />
  <xs:complexType name="TermsInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Discount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DueInCertainDayOfMonth_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DueInFixedNumberDays_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DueInNextMonth_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TermsInfo" nillable="true" type="tns:TermsInfo" />
  <xs:complexType name="ArrayOfSupplierShippingAddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierShippingAddressInfo" nillable="true" type="tns:SupplierShippingAddressInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierShippingAddressInfo" nillable="true" type="tns:ArrayOfSupplierShippingAddressInfo" />
  <xs:complexType name="SupplierShippingAddressInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AddressID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SupID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierShippingAddressInfo" nillable="true" type="tns:SupplierShippingAddressInfo" />
</xs:schema>