iGST/Service References/Expense_Svc/sExpenseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50495/sExpenseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:element name="GetList_ExpenseOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationproductId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_ExpenseOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_ExpenseOrganizationResult" nillable="true" type="q1:ArrayOfProductOrganiztionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_ExpenseOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationproductId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_ExpenseOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_ExpenseOrganizationResult" nillable="true" type="q2:ArrayOfProductOrganiztionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_ExpenseOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="obj" nillable="true" type="q3:ProductOrganiztionInfo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q4:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_ExpenseOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_ExpenseOrganizationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_Expense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsReturned" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsCancelled" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_ExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_ExpenseResult" nillable="true" type="q5:ArrayOfInvoiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_Expense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceDateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsReturned" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsCancelled" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_ExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_ExpenseResult" nillable="true" type="q6:InvoiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_Expense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objBillInfo" nillable="true" type="q7:InvoiceInfo" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q8:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_ExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_ExpenseResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_Supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_SupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_SupplierResult" nillable="true" type="q9:ArrayOfSupplierInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_Supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_SupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_SupplierResult" nillable="true" type="q10:SupplierInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload_Supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOvereWrite" type="xs:boolean" />
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload_SupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Upload_SupplierResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="bReturn" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_Supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objSupplierInfo" nillable="true" type="q11:SupplierInfo" />
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_SupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_SupplierResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>