iGST/Service References/Auth_Svc/sUserAuthenticationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50495/sUserAuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:element name="User_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="User_LoginResult" nillable="true" type="q1:UserInfo" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OldPssword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q2:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_ChangePasswordResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_ForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCodeEmailIDMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OTPValidityDuration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OTPSendOption" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_ForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_ForgotPasswordResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="OTP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SocialMediaLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SocialMediaLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="SocialMediaLoginResult" nillable="true" type="q3:UserInfo" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_UserModerate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_UserModerateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_UserModerateResult" nillable="true" type="q4:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_UserModerate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_UserModerateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_UserModerateResult" nillable="true" type="q5:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_UserModerate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfoToBeSaved" nillable="true" type="q6:UserInfo" />
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_UserModerateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_UserModerateResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Email_Verification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailVerifictionKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Email_VerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email_VerificationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLoginResult" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="obj" nillable="true" type="q7:UserInfo" />
        <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistered_EmailChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserIdToSave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNeedToCheckEmailID" type="xs:boolean" />
        <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNeedToCheckPassword" type="xs:boolean" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailIDTobeChanged" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistered_EmailChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegistered_EmailChangeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistered_MobileChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserIdToSave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNeedToCheckMobile" type="xs:boolean" />
        <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isNeedToCheckPassword" type="xs:boolean" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MobileTobeChanged" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistered_MobileChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegistered_MobileChangeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_OrganizationDropdownList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_OrganizationDropdownListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_OrganizationDropdownListResult" nillable="true" type="q8:ArrayOfOrganizationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_OrganizationResult" nillable="true" type="q9:ArrayOfOrganizationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="NeedBranchList" type="xs:boolean" />
        <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_OrganizationResult" nillable="true" type="q10:OrganizationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="obj" nillable="true" type="q11:OrganizationInfo" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q12:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_OrganizationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_OrganizationAccountant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountantCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsAudit" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList_OrganizationAccountantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetList_OrganizationAccountantResult" nillable="true" type="q13:ArrayOfOrganizationAccountantInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_OrganizationAccountant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccountantCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsAudit" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails_OrganizationAccountantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDetails_OrganizationAccountantResult" nillable="true" type="q14:ArrayOfOrganizationAccountantInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_OrganizationAccountant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnlyDelete" type="xs:boolean" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="obj" nillable="true" type="q15:OrganizationAccountantInfo" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="objUserInfo" nillable="true" type="q16:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_OrganizationAccountantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_OrganizationAccountantResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboard_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboard_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="GetDashboard_OrganizationResult" nillable="true" type="q17:ArrayOfOrganizationDashBoardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>