iGST/Service References/Master_Svc/sMasterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBranchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchInfo" nillable="true" type="tns:BranchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchInfo" nillable="true" type="tns:ArrayOfBranchInfo" />
  <xs:complexType name="BranchInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMainBranch_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserRoleList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchInfo" nillable="true" type="tns:BranchInfo" />
  <xs:complexType name="ArrayOfUserBranchRoleMappingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBranchRoleMappingInfo" nillable="true" type="tns:UserBranchRoleMappingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBranchRoleMappingInfo" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
  <xs:complexType name="UserBranchRoleMappingInfo">
    <xs:sequence>
      <xs:element name="_x003C_BranchID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BranchName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DataUniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FunctionID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FunctionName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBranchRoleMappingInfo" nillable="true" type="tns:UserBranchRoleMappingInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element name="_x003C_AccessAllowed_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ApplicableCurrencies_x003E_k__BackingField" nillable="true" type="tns:ArrayOfCurrencyOrganiztionInfo" />
      <xs:element name="_x003C_BillingRatePerHour_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CityName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DOB_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DisplayName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EffectiveRole_x003E_k__BackingField" nillable="true" type="tns:RoleInfo" />
      <xs:element name="_x003C_EmailID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmployeeID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_First_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Functions_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HireDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsApproved_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsEmailActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMainUser_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMobileActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Last_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ManagerID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ManagerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Middle_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MobileNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Notes_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReleaseDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Safix_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Sex_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SsseionID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserBranchRoleList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
      <xs:element name="_x003C_UserCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserRegisteredEmail_x003E_k__BackingField" nillable="true" type="tns:UserEmailInfo" />
      <xs:element name="_x003C_UserRegisteredMobile_x003E_k__BackingField" nillable="true" type="tns:UserMobileInfo" />
      <xs:element name="_x003C_UserRoleList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUserBranchRoleMappingInfo" />
      <xs:element name="_x003C_UserTypeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isBillableBydefault_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfCurrencyOrganiztionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyOrganiztionInfo" nillable="true" type="tns:CurrencyOrganiztionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyOrganiztionInfo" nillable="true" type="tns:ArrayOfCurrencyOrganiztionInfo" />
  <xs:complexType name="CurrencyOrganiztionInfo">
    <xs:sequence>
      <xs:element name="SelfList" nillable="true" type="tns:ArrayOfCurrencyOrganiztionInfo" />
      <xs:element name="_x003C_CurrencyId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CurrencyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationproductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Symbol_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyOrganiztionInfo" nillable="true" type="tns:CurrencyOrganiztionInfo" />
  <xs:complexType name="RoleInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Bill_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Bill_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Branch_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Category_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DefineLanguage_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_DefineLanguage_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Function_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsOnlyForModerateUsers_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Language_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Organization_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Organization_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Product_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RoleID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RoleName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Role_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Role_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_StaticValue_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Terms_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserModerate_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Add_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Audit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Delete_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_Edit_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_UserRegistered_View_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_isForMembershipView_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleInfo" nillable="true" type="tns:RoleInfo" />
  <xs:complexType name="UserEmailInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmailConfirmationSentOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmailID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EmailVerifiedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsEmailConfirmationSend_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsEmailVerified_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEmailInfo" nillable="true" type="tns:UserEmailInfo" />
  <xs:complexType name="UserMobileInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMobileConfirmationSent_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsMobileVerified_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_MobileConfirmationSentOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MobileVerifiedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Mobile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMobileInfo" nillable="true" type="tns:UserMobileInfo" />
  <xs:complexType name="ArrayOfBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" nillable="true" type="tns:BankInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankInfo" nillable="true" type="tns:ArrayOfBankInfo" />
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BankID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CorpID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IFSCCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_MCRCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankInfo" nillable="true" type="tns:BankInfo" />
  <xs:complexType name="ArrayOfBankTransactionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankTransactionInfo" nillable="true" type="tns:BankTransactionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankTransactionInfo" nillable="true" type="tns:ArrayOfBankTransactionInfo" />
  <xs:complexType name="BankTransactionInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Balance_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ChqNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CreatedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CreatedOn_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Credit_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Debit_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InitBr_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsSellExpense_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Particulars_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProductIds_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Products_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Tax_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TransactionDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TransactionID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankTransactionInfo" nillable="true" type="tns:BankTransactionInfo" />
  <xs:complexType name="ArrayOfCategoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryInfo" nillable="true" type="tns:CategoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryInfo" nillable="true" type="tns:ArrayOfCategoryInfo" />
  <xs:complexType name="CategoryInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CGST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CategoryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CategoryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HSNCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IGST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsExpenseType_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ParentCategoryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ParentCategoryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SACCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SGST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ServiceOrGoods_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WillCarryContent_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_cssclass_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryInfo" nillable="true" type="tns:CategoryInfo" />
  <xs:complexType name="ArrayOfCountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryInfo" nillable="true" type="tns:CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryInfo" nillable="true" type="tns:ArrayOfCountryInfo" />
  <xs:complexType name="CountryInfo">
    <xs:sequence>
      <xs:element name="_x003C_CountryID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PhoneCode_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryInfo" nillable="true" type="tns:CountryInfo" />
  <xs:complexType name="ArrayOfStateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateInfo" nillable="true" type="tns:StateInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateInfo" nillable="true" type="tns:ArrayOfStateInfo" />
  <xs:complexType name="StateInfo">
    <xs:sequence>
      <xs:element name="_x003C_Countryid_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StateID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StateName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateInfo" nillable="true" type="tns:StateInfo" />
  <xs:complexType name="ArrayOfFunctionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionInfo" nillable="true" type="tns:FunctionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionInfo" nillable="true" type="tns:ArrayOfFunctionInfo" />
  <xs:complexType name="FunctionInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FunctionId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FunctionName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsDefaultForModerateUser_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsDefaultForRegisteredUser_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsDesignation_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsForMembership_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsForModerate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_RoleList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfRoleInfo" />
      <xs:element name="_x003C_Roles_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isSelected_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionInfo" nillable="true" type="tns:FunctionInfo" />
  <xs:complexType name="ArrayOfRoleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleInfo" nillable="true" type="tns:RoleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleInfo" nillable="true" type="tns:ArrayOfRoleInfo" />
  <xs:complexType name="ArrayOfLanguageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageInfo" nillable="true" type="tns:ArrayOfLanguageInfo" />
  <xs:complexType name="LanguageInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LanguageId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LanguageName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
  <xs:complexType name="ArrayOfLanguageValueInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageValueInfo" nillable="true" type="tns:LanguageValueInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageValueInfo" nillable="true" type="tns:ArrayOfLanguageValueInfo" />
  <xs:complexType name="LanguageValueInfo">
    <xs:sequence>
      <xs:element name="SelfList" nillable="true" type="tns:ArrayOfLanguageValueInfo" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LanguageId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LanguageName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MasterFieldValue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MasterIDField_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MasterTableName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MasterTablePrefix_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageValueInfo" nillable="true" type="tns:LanguageValueInfo" />
  <xs:complexType name="ArrayOfLanguageCountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageCountryInfo" nillable="true" type="tns:LanguageCountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageCountryInfo" nillable="true" type="tns:ArrayOfLanguageCountryInfo" />
  <xs:complexType name="LanguageCountryInfo">
    <xs:sequence>
      <xs:element name="_x003C_CountryId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LanguageId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LanguageName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Proirity_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Visibility_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageCountryInfo" nillable="true" type="tns:LanguageCountryInfo" />
  <xs:complexType name="ArrayOfServiceClassInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceClassInfo" nillable="true" type="tns:ServiceClassInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceClassInfo" nillable="true" type="tns:ArrayOfServiceClassInfo" />
  <xs:complexType name="ServiceClassInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ServiceClassId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ServiceClassName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceClassInfo" nillable="true" type="tns:ServiceClassInfo" />
  <xs:complexType name="ArrayOfServiceTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceTypeInfo" nillable="true" type="tns:ServiceTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceTypeInfo" nillable="true" type="tns:ArrayOfServiceTypeInfo" />
  <xs:complexType name="ServiceTypeInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ServiceTypeId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ServiceTypeName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTypeInfo" nillable="true" type="tns:ServiceTypeInfo" />
  <xs:complexType name="ArrayOfServiceUnitInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceUnitInfo" nillable="true" type="tns:ServiceUnitInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceUnitInfo" nillable="true" type="tns:ArrayOfServiceUnitInfo" />
  <xs:complexType name="ServiceUnitInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ServiceUnitId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ServiceUnitName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUnitInfo" nillable="true" type="tns:ServiceUnitInfo" />
  <xs:complexType name="ArrayOfSettingsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SettingsInfo" nillable="true" type="tns:SettingsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSettingsInfo" nillable="true" type="tns:ArrayOfSettingsInfo" />
  <xs:complexType name="SettingsInfo">
    <xs:sequence>
      <xs:element name="_x003C_InfoType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_an_AlertText_GSTDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_an_AlertText_PaidMembership_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_an_isAllowedAlert_GSTDate_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_an_isAllowedAlert_PaidMembership_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_c_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_CIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_CompanyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_DefaultEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_Mobile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_PAN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_SMTP_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_Website_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_c_isAllowedMultyLanguage_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_mc_CurrencyList_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_mc_isAllowedMutyCurrency_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_p_BankAccountHolder_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_p_BankAccountIBankName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_p_BankAccountIBranchName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_p_BankAccountIFSCCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_p_BankAccountIMCRCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_p_BankAccountNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_p_PaypalAccountID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_p_isAllowedOnlinePayment_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsInfo" nillable="true" type="tns:SettingsInfo" />
  <xs:complexType name="ArrayOfStaticValuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StaticValuInfo" nillable="true" type="tns:StaticValuInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaticValuInfo" nillable="true" type="tns:ArrayOfStaticValuInfo" />
  <xs:complexType name="StaticValuInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Key_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaticValuInfo" nillable="true" type="tns:StaticValuInfo" />
  <xs:complexType name="ArrayOfTermsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TermsInfo" nillable="true" type="tns:TermsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTermsInfo" nillable="true" type="tns:ArrayOfTermsInfo" />
  <xs:complexType name="TermsInfo">
    <xs:sequence>
      <xs:element name="_x003C_ActivityType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DatauniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Discount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DueInCertainDayOfMonth_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DueInFixedNumberDays_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DueInNextMonth_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsActive_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastModifiedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OrganizationCode_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TermsInfo" nillable="true" type="tns:TermsInfo" />
</xs:schema>