iGST/Service References/Currency_Svc/CurrencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50495/sCurrencyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50495/sCurrencyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50495/sCurrencyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyService_GetDetails_BUCurrencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails_BUCurrencies" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetDetails_BUCurrencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails_BUCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetDetails_CurrencyOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails_CurrencyOrganization" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetDetails_CurrencyOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails_CurrencyOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_Save_CurrencyOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:Save_CurrencyOrganization" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_Save_CurrencyOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:Save_CurrencyOrganizationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyService">
    <wsdl:operation name="GetDetails_BUCurrencies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/GetDetails_BUCurrencies" message="tns:ICurrencyService_GetDetails_BUCurrencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/GetDetails_BUCurrenciesResponse" message="tns:ICurrencyService_GetDetails_BUCurrencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails_CurrencyOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/GetDetails_CurrencyOrganization" message="tns:ICurrencyService_GetDetails_CurrencyOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/GetDetails_CurrencyOrganizationResponse" message="tns:ICurrencyService_GetDetails_CurrencyOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save_CurrencyOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/Save_CurrencyOrganization" message="tns:ICurrencyService_Save_CurrencyOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/Save_CurrencyOrganizationResponse" message="tns:ICurrencyService_Save_CurrencyOrganization_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iGST_Svc.CurrencyService_Binding_ICurrencyService" type="tns:ICurrencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetails_BUCurrencies">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/GetDetails_BUCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails_CurrencyOrganization">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/GetDetails_CurrencyOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_CurrencyOrganization">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/Save_CurrencyOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyService">
    <wsdl:port name="iGST_Svc.CurrencyService_Binding_ICurrencyService" binding="tns:iGST_Svc.CurrencyService_Binding_ICurrencyService">
      <soap:address location="http://localhost:50495/sCurrencyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>